<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(links,scripts)">
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>FrozenUI Demo</title>
	<!-- Common styles and scripts -->
	<link rel="stylesheet" href="../static/css/frozen.css" th:href="@{/css/frozen.css}">
	<script src="../static/lib/zepto.min.js" th:src="@{/lib/zepto.min.js}"></script>
	<script src="../static/js/frozen.js" th:src="@{/js/frozen.js}"></script>
</head>

<body>

</body>
</html>