<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title,links,scripts)">
	<title th:replace="${title}">app title</title>
	<!--/* Per-page placeholder for additional links */-->
	<link th:replace="${links}" />
	<script th:replace="${scripts}" />

</head>

<body>

	<div th:fragment="common_menu(curPage)" class="header">
		<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
			<a class="pure-menu-heading" href="javascript:void(0);">蒜苔</a>
			<ul class="pure-menu-list">
				<li class="pure-menu-item" th:classappend="${curPage == 'index'} ? 'pure-menu-selected'">
					<a href="javascript:void(0);" class="pure-menu-link">首页</a>
				</li>
				<li class="pure-menu-item" th:classappend="${curPage == 'demo'} ? 'pure-menu-selected'">
					<a href="javascript:void(0);" class="pure-menu-link">演示</a>
				</li>
				<li class="pure-menu-item" th:classappend="${curPage == 'enroll'} ? 'pure-menu-selected'">
					<a href="javascript:void(0);" class="pure-menu-link">注册</a>
				</li>
				<li class="pure-menu-item" th:classappend="${curPage == 'about'} ? 'pure-menu-selected'">
					<a href="javascript:void(0);" class="pure-menu-link">关于</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div th:fragment="common_copy" class="footer l-box is-center">
		<label>© 2015-2017 蒜苔网版权所有</label>
		<a href="javascript:void(0);">联系方法</a>
		<a href="javascript:void(0);">隐私政策</a>
		<a href="mailto:bao.li.net@hotmail.com">意见反馈</a>
	</div>

</body>

</html>