<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>FrozenUI Demo</title>
	<link rel="stylesheet" href="../static/css/frozen.css" th:href="@{/css/frozen.css}">
	<script src="../static/lib/zepto.min.js" th:src="@{/lib/zepto.min.js}"></script>
	<script src="../static/js/frozen.js" th:src="@{/js/frozen.js}"></script>
	
	<!--[if lt IE 10]>
	<script src="../static/js/html5.js" th:src="@{/js/html5.js}"></script>
	<script src="../static/js/respond-1.4.2.js" th:src="@{/js/respond-1.4.2.js}"></script>
	<script src="../static/js/jquery-1.8.3.js" th:src="@{/js/jquery-1.8.3.js}"></script>
	<![endif]-->
	
</head>

<body ontouchstart>

<section class="ui-container">
	
	<div class="ui-row">
		&nbsp;
	</div>
	
	<div class="ui-row">
		&nbsp;
	</div>
	<div class="ui-row">
		&nbsp;
	</div>
	
	<div class="ui-row">
		<ul class="ui-tiled">
			<li th:text="${cashier.orderDesc}">xxx商户-套餐1</li>
		</ul>
	</div>
	<div class="ui-row">
		&nbsp;
	</div>
	<div class="ui-row">
		
		<div class="ui-form ui-border-tb">
			<form action="#">
				<div class="ui-form-item ui-border-b">
					<input id="input_amount" type="number" placeholder="请输入金额" th:value="${cashier.orderAmount}" />
					<a id="a_close" href="javascript:void(0);" class="ui-icon-close">
					</a>
				</div>
			</form>
		</div>
		
	</div>
	
	<div class="ui-row">
		&nbsp;
	</div>
	
	<div id="balancePanel" class="ui-row pay" style="display: block;">
		<ul class="ui-list ui-list-function ui-border-tb">
			<li id="balancePay" class="ui-border-t" th:if="${cashier.registed}">
				<div class="ui-list-img ui-tag-vip">
					<span style="background-image:url(../static/vip_card.png)" th:style="|background-image:url(${wallet.logo})|"></span>
				</div>
				
				<div class="ui-list-info">
					<h4 class="ui-nowrap" th:text="${wallet.balance}">余额：88.00元</h4>
					<p class="ui-nowrap" th:text="${wallet.desc}">使用电子钱包付款</p>
				</div>
				<a class="ui-btn" href="javascript:void(0);" th:if="${wallet.registed == false}">激活</a>
			</li>
			
		</ul>
	</div>
	
	<div id="wxPanel" class="ui-row pay" style="display: none;">
		<ul class="ui-list ui-list-function ui-border-tb">
			<li id="wxPay" class="ui-border-t">
				<div class="ui-list-img">
					<span style="background-image:url(../static/vip_card.png)"></span>
				</div>
				<div class="ui-list-info">
					<h4 class="ui-nowrap">微信</h4>
					<p class="ui-nowrap">使用微信支付</p>
				</div>
				<div class="ui-btn">支付</div>
			</li>
		
		</ul>
	</div>
	
	<div class="ui-row">
		&nbsp;
	</div>
	
	<div class="ui-row">
		<button id="pay" class="ui-btn-lg ui-btn-primary">支付</button>
	</div>
</section>


<div class="ui-actionsheet">
	<div class="ui-actionsheet-cnt">
		<h4>选择支付方式</h4>
		<button onclick="choosePay('balance');">余额</button>
		<button onclick="choosePay('wx')">微信</button>
		
		<button onclick="choosePay('')">取消</button>
	</div>
</div>

<div id="ui-loading" class="ui-loading-block">
	<div class="ui-loading-cnt">
		<i class="ui-loading-bright"></i>
		<p>支付处理中...</p>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	  $('#a_close').click(function () {
		  $('#input_amount').val('');
	  });

	  $('.ui-border-t').click(function () {
		  $('.ui-actionsheet').addClass('show');
	  });

	  $('#pay').click(function () {
		  $('.pay').each(function () {
			  if ($(this).css('display') == 'block') {

				  var amount = $('#input_amount').val();
				  if (amount == null || amount == '') {
					  amount = 0;
				  }

				  var id = $(this).attr("id");

				  if (id == 'balancePanel') {
					  pay('balance', amount);
				  } else if (id == 'wxPanel') {
					  pay('wx', amount);
				  }
			  }
		  })

	  });
			
	  function pay(payType, amount) {
		  $('#ui-loading').addClass('show');
		  alert(payType);
		  $('#ui-loading').removeClass('show');
	  }
	  
	});

  function choosePay(payType) {
	  if (payType == 'wx') {
		  $('#balancePanel').css('display', 'none');
		  $('#wxPanel').css('display', 'block');
	  } else if (payType == 'balance') {
		  $('#balancePanel').css('display', 'block');
		  $('#wxPanel').css('display', 'none');
	  }

	  $('.ui-actionsheet').removeClass('show');
  }
  
  
</script>

</body>
</html>