<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>智慧生活-客户端</title>
	<link rel="stylesheet" href="../static/css/frozen.css" th:href="@{/css/frozen.css}">
	
	<link rel="stylesheet" href="../static/css/demo.css" th:href="@{/css/demo.css}">
	
	<script src="../static/lib/zepto.min.js" th:src="@{/lib/zepto.min.js}"></script>
	<script src="../static/js/frozen.js" th:src="@{/js/frozen.js}"></script>
</head>

<body ontouchstart>
<header class="ui-header ui-header-positive ui-border-b">
	<i class="ui-icon-return" onclick="history.back()"></i>
	<h1>智慧生活</h1>
</header>

<section class="ui-container">
	<marquee><h6 class="ui-txt-highlight">系统维护中。。。</h6></marquee>
	
	<h1>长连接测试</h1>
	<h2 id="n1"></h2>
	<h2 id="n2"></h2>
	
	<ul class="ui-tiled">
		<li>
			<a href="#">
				<div class="ui-tag-vip">
					<img class="ui-avatar-lg" src="../static/liuwei.jpg" th:src="@{/liuwei.jpg}">
				</div>
				<span>李宝</span>
			</a>
		</li>
	</ul>
	
	<ul class="ui-tiled">
		<li>
			<a href="#">
				<div>0元</div>
				<i class="ui-reddot">余额 ></i>
			</a>
		</li>
		
		<li>
			<a href="#">
				<div>0张</div>
				<i>优惠券 ></i>
			</a>
		</li>
	</ul>
	
	<p class="demo-desc">交易记录</p>
	<ul class="ui-list ui-list-text ui-border-tb">
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4 class="ui-nowrap">-10.00 老街口超市-消费</h4>
				<h5 class="ui-nowrap">1月22日 22:01</h5>
			</div>
			<div class="ui-badge">new</div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4 class="ui-nowrap">2018.1.22 获取优惠券 消费 10元</h4>
			</div>
			<div class="ui-badge-muted">new</div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
			</div>
			<div class="ui-badge-num">123</div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
			</div>
			<div class="ui-reddot ui-reddot-static"></div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4>标题标题标题标题标题标题标</h4>
			</div>
			<div class="ui-list-action">使用中</div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4>标题标题标题标题标题标题标</h4>
			</div>
			<label class="ui-switch">
				<input type="checkbox">
			</label>
		</li>
		
		
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4 class="ui-nowrap">-10.00 老街口超市-消费</h4>
				<h5 class="ui-nowrap">1月22日 22:01</h5>
			</div>
			<div class="ui-badge">new</div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4 class="ui-nowrap">2018.1.22 获取优惠券 消费 10元</h4>
			</div>
			<div class="ui-badge-muted">new</div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
			</div>
			<div class="ui-badge-num">123</div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
			</div>
			<div class="ui-reddot ui-reddot-static"></div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4>标题标题标题标题标题标题标</h4>
			</div>
			<div class="ui-list-action">使用中</div>
		</li>
		<li class="ui-border-t">
			<div class="ui-list-info">
				<h4>标题标题标题标题标题标题标</h4>
			</div>
			<label class="ui-switch">
				<input type="checkbox">
			</label>
		</li>
		
	</ul>
	

</section><!-- /.ui-container-->


<script type="text/javascript">
	$(function(){
		// function longPolling1(){
		// 	$.get('comet/123/test', function(data){
		// 		console.log(data);
		// 		$('#n2').html(data);
		// 		longPolling();
		// 	});
		// }
		// longPolling();
		
		
		function longPooling2(){
			$.get('comet/12345/test2', function(data){
				console.log(data);
				$('#n1').html(data);
			});
		}

	  var ref = setInterval(function(){
			longPooling2();
	  },10000);
		
	});
	
	
	
	
</script>
</head>

</body>
</html>