<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>FrozenUI Demo</title>
	<link rel="stylesheet" href="../static/css/frozen.css" th:href="@{/css/frozen.css}">
<!--	<link rel="stylesheet" href="demo.css">-->
	<script src="../static/lib/zepto.min.js" th:src="@{/lib/zepto.min.js}"></script>
	<script src="../static/js/frozen.js" th:src="@{/js/frozen.js}"></script>
</head>

<body ontouchstart>

<section class="ui-container">
	<section id="grid">
			<ul class="ui-grid-trisect ui-border-b">
				<li>
					<div class="ui-grid-trisect-img">
						<!--<span style="background-image:url(../static/table.png)"></span>-->
						12345
					</div>
				</li>
				<li>
					<div class="ui-grid-trisect-img">
<!--						<span onclick="javascript:alert(1);" style="background-image:url(../static/示例图片_01.jpg)">
							1234
						</span>-->
						1111
					</div>
				</li>
				<li>
					<div class="ui-grid-trisect-img">
						<!--<span style="background-image:url(../static/示例图片_01.jpg)"></span>-->
						1111
					</div>
				</li>
				<li>
					<div class="ui-grid-trisect-img">
						<!--<span style="background-image:url(../static/示例图片_01.jpg)"></span>-->
						111
					</div>
				</li>
			</ul>
	</section>
</section><!-- /.ui-container-->
</body>
</html>