<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>智慧生活商家版</title>
	<link rel="stylesheet" href="../static/css/frozen.css" th:href="@{/css/frozen.css}">
	<script src="../static/lib/zepto.min.js" th:src="@{/lib/zepto.min.js}"></script>
	<script src="../static/js/frozen.js" th:src="@{/js/frozen.js}"></script>
</head>

<body ontouchstart>

<header class="ui-header ui-header-positive ui-border-b">
	<h1>xxx 餐厅</h1>
</header>

<section class="ui-container ui-center">
	<div class="ui-row-flex ui-whitespace ui-row-flex-ver">
		<div class="ui-col ui-col-1"></div>
		<div class="ui-col">
			<div class="ui-form ui-border-t">
				<form action="" method="post" th:action="${#request.requestURI}">
					<div class="ui-form-item ui-form-item-pure ui-border-b">
						<input type="text" name="loginName" placeholder="操作员号">
						<a href="javascript:void(0)" class="ui-icon-close"></a>
					</div>
					<div class="ui-form-item ui-form-item-pure ui-border-b">
						<input type="password" name="password" placeholder="密码">
						<a href="#" class="ui-icon-close"></a>
					</div>
					<div class="ui-btn-wrap">
						<button class="ui-btn-lg ui-btn-primary" type="submit">
							登录
						</button>
					</div>
					<div class="ui-btn-wrap">
						<p class="ui-txt-warning" th:if="${message}" th:text="${message}">警示，会员红名</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


<footer class="ui-footer ui-footer-btn">
	<ul class="ui-tiled ui-border-t">
		<li data-href="#" class="ui-border-r"><div>注册</div></li>
		<li data-href="#" class="ui-border-r"><div>找回密码</div></li>
	</ul>
</footer>

</body>
</html>