<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="utf-8" />
	<meta name="author" content="ISUX" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<title>FrozenUI组件库</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/frozen.css">
<!--	<style>
		body>a{display: none;}
		.title { padding-left: 15px; line-height: 48px; font-size: 20px; color:
				#00A5E3; }
	</style>-->
</head>

<body ontouchstart="">

不支持此浏览器

</body>

</html>